/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
.bgimg {
    height: 700px;
    background-image: url(/images/shape1.svg), url(/images/shape2.svg), linear-gradient(180deg, #092B50 0%, #011A34 100%);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: top left, bottom right, center;
    padding-top: 30px
}

.whitecontrol {
    height: 600px;
    padding-top: 350px;
}

.bgcolor {
    background-color: #17D570;
}

.menu {
    margin-left: 150px;
    font-size: 8px
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

* {
    padding: 0;
    margin: 0;
}

h1, h2, h3 {
    font-family: "Akkurat-Pro-Light", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

a {
    text-decoration: none;
}

.footer-signup {
    background: #072340;
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.21) 0%, rgba(0, 0, 0, 0.08) 100%);
    text-align: center;
    padding: 50px 0 50px;
}

.w {
    margin: 0 auto;
    width: 1200px;
}

.footer-signup h3 {
    margin: 0;
    margin-bottom: 32px;
    font-size: 28px;
    line-height: 1.28571;
    color: #fefefe;
}

.footer-signup-a {
    display: inline-block;
    vertical-align: top;
    height: 48px;
    font-size: 18px;
    border-radius: 6px;
    margin: 0;
}

.footer-signup-button {
    background: linear-gradient(-180deg, #19DA76 0%, #0BB241 100%);
    border: 0 none;
}

.button {
    font-family: "Akkurat-Pro-Regular", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    padding: 0 1em;
    height: 47px;

    line-height: 47px;
    /*font-size: 22px;*/
    text-align: center;
    color: #fefefe;
    cursor: pointer;
}

.footer-questions {
    text-align: center;
    color: #072340;
    padding: 28px 0 31px;
}

.footer-questions h3 {
    font-size: 18px;
    line-height: 1.16667;
    margin: 0;
    margin-bottom: 9px;
    font-family: "Akkurat-Pro-Regular", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

.footer-questions h3 a {
    color: #0BB241;
    text-decoration: underline;
}

.footer-questions p {
    font-size: 13px;
    line-height: 1.23077;
    color: #7E8B98;
    margin: 0;
}